

.div_1{
  position:absolute;
  background-color: red;
  top:10%;
  left:0;
  width: 20%;
  height: 80%;
  overflow: auto;
}

.div_2{
  position:absolute;
  top:10%;
  left:20%;
  background-color: blue;
  width: 60%;
  height: 80%;
  overflow: auto;
}

.div_3{
  position:absolute;
  top:10%;
  left:80%;
  background-color: yellow;
  width: 20%;
  height: 80%;
  overflow: auto;
}

.div_4{
  position:absolute;
  background-color: green;
  top:0;
  left:0;
  width: 100%;
  height: 10%;
  overflow: auto;
}

.div_5{
  position:absolute;
  background-color: pink;
  top:90%;
  left:0;
  width: 100%;
  height: 10%;
  overflow: auto;
}
